SERVER_PORT=4000
ENVIRONMENT="local"
LOG_LEVEL="debug"

DB_HOST="database"
DB_PORT=5432
DB_NAME="photopost"
DB_USER="postgres"
DB_PASS="postgres"

# cloudsql, mysql, postgres
DB_TYPE="postgres"

# only pass if different from host environment
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_NAME=
TEST_DB_USER=
TEST_DB_PASS=
TEST_DB_TYPE=

MAX_MULTIPART_MEMORY=10485760
JWT_SECRET="71781f7e9db3b3d1e36235a4cc059896fed0eb0668ebcc70deb2ecb430ade39f"
ACCESS_TOKEN_DURATION=24h
REFRESH_TOKEN_DURATION=720h
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_S3_BUCKET=""

ADMINER_PORT=4040
SWAGGER_PORT=4004

DEBUG_PORT=4002

TIMEZONE="Local"
